::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.6rem;
}


::-webkit-scrollbar-thumb {
  background: $white;

  &:hover {
    background-color: $secondary;
  }
}



::-moz-selection {
  color: #fff;
  background: $secondary
}

::selection {
  color: #fff;
  background: $secondary
}

* {
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  scroll-behavior: smooth;
  text-transform: capitalize;
  color: $white;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html[dir='rtl'] [type=email],
html[dir='rtl'] [type=number],
html[dir='rtl'] [type=tel],
html[dir='rtl'] [type=url] {
  direction: rtl;
}

body {
  direction: rtl;
  line-height: 1.7;
  background-color: $main;
  overflow: clip;

}

html[dir="ltr"] body {
  direction: ltr;
}

a {
  text-decoration: none;
  color: $white;
}

.link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0rem !important;
  list-style: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin-bottom: 0;
}

.breadcrumb {
  position: relative;
  z-index: 5;

  .breadcrumb-item {
    color: $white;
    font-size: 1.2rem;

    &.active {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  color: $white;
  content: var(--bs-breadcrumb-divider, ">>");
}

.form-control {
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  border: 1px solid $input-border;
  border-radius: 35px;
  transition: 0.15s ease-in-out;
  box-shadow: none !important;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  text-transform: lowercase;
}

.form-control:focus {
  border-color: $main;
  outline: 0;
  box-shadow: none;
}

::-webkit-input-placeholder {
  color: $placeholder;
  font-size: 14px;
}

::-moz-placeholder {
  color: $placeholder;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: $placeholder;
  font-size: 14px;
}

::-ms-input-placeholder {
  color: $placeholder;
  font-size: 14px;
}

::placeholder {
  color: $placeholder;
  font-size: 14px;
}




.scrollUp {
  position: absolute;
  top: 0;
  inset-inline-end: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}




img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

html[dir=ltr] {
  .rotation {
    transform: rotate(180deg);
  }
}


.card {
  border: none;
  background-color: transparent;
  transition: .3s;
  color: $white;

  .card-header {
    background-color: transparent;
    border: none;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.65rem 2.5rem;
  border-radius: $brad;
  font-size: 1rem;
  font-weight: 500;
  color: $white;
}





.secondary-btn {
  background-color: $secondary;
  color: $white;

  &:hover,
  &:focus {
    background-color: $secondary;
    color: $white;
  }

  &:active {
    background-color: $secondary !important;
    color: $white !important;
  }
}

.main-btn {
  color: $main ;
  background-color: $white;
  transition: 0.3s;
  font-weight: bold;

  &:hover {
    background-color: $white;
    color: $main;

  }

  &:active {
    background-color: $white !important;
    color: $main !important;
  }
}

section {
  margin: 2rem 0 5rem 0;
}


.download-links {
  text-align: center;

  .btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .40rem 1.5rem;
  }

  .main-btn {


    .text {
      text-align: end;
      line-height: .9rem;

      p {
        color: $main !important;

        &:first-child {
          font-size: .7rem;
        }

        &:last-child {
          font-weight: bold;

        }
      }
    }
  }

  .secondary-btn {


    .text {
      text-align: end;
      line-height: .9rem;

      p {
        color: $white !important;

        &:first-child {
          font-size: .7rem;
        }

        &:last-child {
          font-weight: bold;

        }
      }
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}


.sec-title {
  font-weight: bold;
  margin: 1rem 0 2.5rem 0;
}







/*=========================================
==========================================*/